body {
  margin: 0;
  display: flex;
  overflow-x: hidden; }

.custom-select {
  display: flex;
  border-radius: 10px;
  width: max-content;
  box-shadow: inset -2px -2px 2px 2px #393939;
  position: relative;
  z-index: 1; }
  .custom-select label {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    display: flex;
    cursor: pointer; }
    .custom-select label:first-child span {
      border-radius: 10px 0 0 10px;
      border-left-width: 1px; }
    .custom-select label:last-child span {
      border-radius: 0 10px 10px 0; }
    .custom-select label span {
      padding: 5px 10px;
      border: solid #393939;
      border-width: 1px 1px 1px 0;
      transition: all .3s;
      position: relative;
      z-index: 0; }
    .custom-select label input {
      width: 0;
      height: 0;
      opacity: 0;
      display: none;
      background-color: #ffffff; }
      .custom-select label input:checked ~ span {
        background-color: #393939;
        color: #fff; }
      .custom-select label input:disabled ~ span {
        background-color: #b7b7b7;
        color: #cccccc; }

.table {
  display: flex; }
  .table > div {
    border: solid #393939;
    border-width: 1px 1px 1px 0; }
    .table > div:first-child {
      border-left-width: 1px; }
    .table > div > * {
      border-bottom: 1px solid #393939;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .table > div > *:last-child {
        border-bottom: 0; }
    .table > div p {
      margin: 0; }

.dates {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around; }
  .dates p {
    margin-bottom: 0; }

main {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-start; }
  main .info {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  main .graph {
    width: 70%;
    height: 100%;
    background-color: #fafafa;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    align-items: center; }
    main .graph canvas {
      width: auto;
      height: 100%; }
  main .curr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px; }
    main .curr p {
      margin: 0 0 15px;
      font-size: 18px;
      line-height: 21px; }
